.stats {
    display: none;
}

.stats__info {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.stats__tile {
    width: 45%;
    text-align: center;
    background-color: var(--tile-bg);
    padding: 10px;
    border-radius: 8px;
}

.stats__tile_icon {
    font-size: 40px;
}